* {
    box-sizing: border-box;
    font-family: sans-serif;
}
.container {
    width: 500px;
    margin: 50px auto 0;
    background-color: #2196f3;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    height: 600px;
}
.weather-container {
    margin-top: 30px;
    padding: 20px;
    background-color: #02415e;
    border-radius: 15px;
    height: calc(100% - 80px);
    display: none;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input {
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
}
[type = "text"] {
    width: 300px;
    height: 50px;
}
[type="text"]::placeholder {
    font-size: 18px;
}
[type= "submit"] {
    height: 50px;
    width: 150px;
    color: white;
    background-color: #02415e;
    font-size: 20px;
}
h1 {
    font-size: 60px;
    margin: 0;
}
.temp {
    font-size: 100px;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    position: relative;
    display: none;
}
.temp::after {
    content: "C";
    position: absolute;
    right: -50px;
    top: 10px;
    font-size: 40px;
}
.temp::before {
    content: "\00b0";
    position: absolute;
    right: -20px;
    top: 10px;
    font-size: 45px;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    margin-left: 10px;
}
.description {
    font-size: 20px;
}
#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    text-align: center;
    font-size: 50px;
}